.fade-enter-active{
    transition: opacity .5s;
  }
.fade-enter /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
}

.fade2-enter-active{
    transition: opacity .5s;
  }
.fade2-enter /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
}

.card{
  height:400px;
  margin-bottom: 20px;
}

#inicial{
  background-image: url('../img/bg1.jpg');
  background-size:cover;
  height:93vh;
  margin-top:-5vh;
}

.candidatos{
  height:230px;
}