<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bulma.min.css">
    <title>Html do Jeito NINJA</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <div id="app">
        <nav class="level navbar is-light" id="menu-p">
            <p class="navbar-item has-text-centered"><a v-on:click="aba = 0">Pagina Inicial</a></p>
            <p class="navbar-item has-text-centered"><a v-on:click="aba = 1">Cadastrar</a></p>
            <p class="navbar-item has-text-centered"><a v-on:click="aba = 2">Procurar Freelas</a></p>
            <p class="navbar-item has-text-centered"><a v-on:click="aba = 3">Procurar Pessoas</a></p>
        </nav>
        <transition name="fade">
            <section id="inicial" v-show = "aba == 0">
                <div class="container">
                    <div class="columns">
                        <div class="column is-8-desktop is-offset-2-desktop">
                            <h1 class="title has-text-centered" style="color:white">
                                Um sistema rápido de cadastramento de Freelas.
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
        </transition>
        <transition name="fade2">
            <section id="cadastro" v-show="aba == 1">
                <div class="container">
                    <div class="columns">
                        <div class="column is-4-desktop is-offset-7 is-offset-1-mobile is-10-mobile">
                            <h1 class="title">Cadastre-se.</h1>
                            <p>Para começar a utilizar nosso serviço, por favor, cadastre-se abaixo:</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-offset-7 is-offset-1-mobile is-10-mobile">
                            <button class="button is-link" v-on:click="usuario=0">Profissional</button>
                        </div>
                        <div class="column">
                            <button class="button is-link" v-on:click="usuario=1">Freelancer</button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-4-desktop is-offset-7 is-offset-1-mobile is-10-mobile" v-if="usuario==0">
                        <form class="form" method="POST" v-on:submit.prevent="cadastrarProfissional">
                            <fieldset class="field">
                                <label for="nome" class="label">
                                    Nome Completo
                                </label>
                                <div class="control">
                                    <input type="text" class="input" placeholder="Nome por favor" v-model="profissionalCadastro.nome">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="username" class="label">
                                    Nome de usuario
                                </label>
                                <div class="control">
                                    <input type="text" id="username" name="username" class="input" placeholder="Para login" v-model="profissionalCadastro.username">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="email" class="label">
                                    Email
                                </label>
                                <div class="control">
                                    <input type="text" name="email" id="email" class="input" v-model="profissionalCadastro.email" placeholder="Seu endereco de email">
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="curriculo" class="label">
                                    Coloque seu curriculo aqui
                                </label>
                                <div>
                                    <input type="file" class="input">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                    <label for="telefone" class="label">
                                        Telefone
                                    </label>
                                    <div class="control">
                                        <input type="tel" name="telefone" id="telefone" class="input" v-model="profissionalCadastro.telefone" placeholder="Pode passar seu contato? :)">
                                    </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="pass" class="label">
                                    Senha
                                </label>
                                <div class="control">
                                    <input type="password" name="pass" id="pass" v-model="profissionalCadastro.pass" class="input"
                                        placeholder="Sua senha mais secreta">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="pass2" class="label">
                                    Confirmar senha
                                </label>
                                <div class="control">
                                    <input type="password" name="pass2" id="pass2" class="input" v-model="profissionalCadastro.pass2"
                                        placeholder="Digite novamente">
                                </div>
                            </fieldset>
                            <button class="button is-primary" type="submit">Enviar</button>
                        </form>
                    </div>
                    <div class="column is-4-desktop is-offset-7 is-offset-1-mobile is-10-mobile" v-if="usuario == 1">
                        <form method="POST" v-on:submit.prevent="cadastrarFreela">
                            <fieldset class="field">
                                <label for="titulo" class="label">
                                    Titulo
                                </label>
                                <div class="control">
                                    <input type="text" name="titulo" v-model="freelaCadastro.titulo" id="titulo" class="input" placeholder="Qual a função">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="descricao" class="label">
                                    Descrição
                                </label>
                                <div class="control">
                                    <input type="text" name="descricao" v-model="freelaCadastro.descricao" id="descricao" class="input" placeholder="Breve resumo do que é para fazer">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="remuneracao" class="label">
                                    Remuneração
                                </label>
                                <div class="control">
                                    <input type="text" name="remuneracao" v-model="freelaCadastro.remuneracao" id="remuneracao" class="input" placeholder="Quanto se paga? :)">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="detalhes" class="label">
                                    Detalhes
                                </label>
                                <div class="control">
                                    <input type="text" name="detalhes" v-model="freelaCadastro.detalhes" id="detalhes" class="input" placeholder="Descreva mais coisas sobre o trabalho">
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <label for="urlImg">
                                    Imagem
                                </label>
                                <div class="control">
                                    <input type="file" name="urlImg" v-model="freelaCadastro.urlImg" class="input" id="urlImg">
                                </div>
                            </fieldset>
                            <button class="button is-primary" type="submit">Enviar</button>
                        </form>
                    </div>
                    </div>
                </div>
            </section>
        </transition>
        <transition>
            <section id="bancoFreelas" v-show="aba == 2">
                <div class="container">
                    <div class="columns">
                        <div class="column is-5-desktop">
                           <h2 class="title">Encontre uma oportunidade!</h2>
                        </div>
                    </div><br>
                    <div class="columns is-multiline">
                        <div class="card column is-2 is-10-mobile is-offset-1-mobile" v-for="(item, index) in oportunidades" v-bind:class="{'is-offset-1': (index%4>0)}">
                            <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="img/freela1.jpg" alt="">
                                    </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">
                                                {{item.titulo}}
                                            </p>
                                            <p class="subtitle is-8">
                                                {{item.descricao}}
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </transition>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/js-sha256"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js">
    </script>
</body>

</html>